.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.login__login-input-field {
  display: flex;
  flex-direction: column;
}

.text__align-left {
  text-align: left;
}

.login__white-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 5px;
  box-shadow: rgba(0, 47, 255, 0.4) -5px 5px, rgba(11, 85, 205, 0.3) -10px 10px,
    rgba(240, 46, 170, 0.2) -15px 15px, rgba(2, 59, 248, 0.1) -20px 20px,
    rgba(240, 46, 170, 0.05) -25px 25px;
}

.input__style {
  height: 30px;
  background-color: #fafafa;
  border: none;
  margin-bottom: 5px;
}

.login__background {
  background-image: url("../Images/IndustryLogin.png");
  background-size: cover;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.login__container input {
  padding: 5px;
  width: 250px;
  border-radius: 5px;
}

.login__icons {
  float: left;
  width: 60px;
  margin-left: 5px;
  object-fit: cover;
  margin-top: -10px;
  margin-bottom: 50px;
}

.or__weight {
  font-weight: 700;
}

.button__signup {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.icons-gap {
  gap: 200px;
}
