.modal__config {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: auto;
  bottom: auto;
  background: #fafafa;
  border-radius: 5px;
  overflow: "auto";
  padding: 60px;
  z-index: 99999;
  border: 1px solid rgb(97, 92, 92);
  border-radius: 10px;
  width: 60vh;
  outline: none;
}



