.modal__config {
  position: absolute;
  top: 10%;
  left: 37%;
  right: 37%;
  bottom: 40%;
  background: #fafafa;
  border-radius: 5px;
  overflow: "auto";
  padding: 60px;
  z-index: 99999;
  border: 1px solid rgb(242, 236, 221);
  border-radius: 10px;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(88, 88, 159);
  width: 250px;
}
input:focus {
  border-color: green;
}

.input__container {
    justify-content: space-around;
}
