* {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.color__white {
  color: white;
}

.font__pixel {
  font-family: Pixel;
}

.font__magnolia {
  font-family: Magnolia;
}

.font__desert {
  font-family: DesertDreams;
}

.font__woman {
  font-family: Woman;
}

.font__betty {
  font-family: Betty;
}

.font__artisa {
  font-family: Artisa;
}

.font__adore {
  font-family: Adore;
}

.font__title {
  font-size: 40px;
}

.font__subtitle {
  font-size: 20px;
}

.click__pointer {
  cursor: pointer;
}

@font-face {
  font-family: Pixel;
  src: url("./Fonts/PixeloidSans-nR3g1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Magnolia;
  src: url("./Fonts/Magnolia-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DesertDreams;
  src: url("./Fonts/DesertDreamsRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Woman;
  src: url("./Fonts/WomanFontRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Betty;
  src: url("./Fonts/Beatty-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Artisa;
  src: url("./Fonts/Artisa-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Adore;
  src: url("./Fonts/AdoreRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
