* {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.color__white {
  color: white;
}

.font__pixel {
  font-family: Pixel;
}

.font__title {
  font-size: 40px;
}

.font__subtitle {
  font-size: 20px;
}

.background__black {
  background-color: black;
}

.click__pointer {
  cursor: pointer;
}


@font-face {
  font-family: Pixel;
  src: url("./Fonts/PixeloidSans-nR3g1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Magnolia;
  src: url("./Fonts/Magnolia-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DesertDreams;
  src: url("./Fonts/DesertDreamsRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}